* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-weight: 900;
    font-size: 30px;
    color: white;
}

/* BACKGROUND SPACE */

#space {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#space1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    animation: space-animation1 12s infinite linear;
}

#space2 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    animation: space-animation2 12s infinite linear;
}

@keyframes space-animation1 {
    from {
        top: -100%;
    }

    to {
        top: 0%;
    }
}

@keyframes space-animation2 {
    from {
        top: 0%;
    }

    to {
        top: 100%;
    }
}

/* CONTAINER AND WRAPPERS */

#scene {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    overflow: hidden;
}

#menu-score {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-top: 3%;
}

#life {

}

#score {

}

#menu-gameover {

}

#menu-gameover > span {
    
}

/* BUTTONS */

.btn {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 50px;
    padding: 35px 50px 30px 55px;
    border-radius: 2px;
    border-style: double;
    cursor: pointer;
    border-color: rgb(83, 146, 167);
    background-color: black;
    color: rgb(255, 188, 162);
    gap: 10px;
    top: 50%;
}

.btn:hover {
    border-color: rgb(255, 188, 162);
    background-color: rgb(83, 146, 167);
    color: rgb(194, 61, 0);
}

/* OBJECTS */

#spaceship {
    position: absolute;
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
    background-image: url("../assets/spaceship.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0;
}

.shot {
    
}

.enemyship {
    
}

.specialItens {

}
